<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<style type="text/css">
    * {
        background: none repeat scroll 0 0 transparent;
        border: 1 none;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        font-family:微软雅黑;
        overflow:hidden;
    }
    #navi{
        width:100%;
        position:relative;
        word-wrap:break-word;
        border-bottom:1px solid #065FB9;
        margin:0;
        padding:0;
        height:40px;
        line-height:40px;
        vertical-align:middle;
        background-image: -moz-linear-gradient(top,#EBEBEB, #BFBFBF);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBEBEB),color-stop(1,
        #BFBFBF));
    }
    #naviDiv{
        font-size:14px;
        color:#333;
        padding-left:10px;
    }
    #tips{
        margin-top:10px;
        width:100%;
        height:40px;
    }
    #buttonGroup{
        padding-left:10px;
        float:left;
        height:35px;
    }
    .button{
        margin-top:20px;
        padding-left:10px;
        padding-right:10px;
        font-size:14px;
        width:70px;
        height:30px;
        line-height:30px;
        vertical-align:middle;
        text-align:center;
        cursor:pointer;
        border-color: #77D1F6;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px 6px;
        -moz-box-shadow: 2px 2px 4px #282828;
        -webkit-box-shadow: 2px 2px 4px #282828;
        background-image: -moz-linear-gradient(top,#EBEBEB, #BFBFBF);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBEBEB),color-stop(1, #BFBFBF));
    }
    #mainContainer{
        padding-left:10px;
        padding-right:10px;
        text-align:left;
        width:98%;
        font-size:16px;
    }
</style>
<body>
<script type="text/javascript" src="../js/Calendar3.js"></script>
    #parse("/center.vm");
<div id="main">
    <div id="navi">
        <div id='naviDiv'>
            <span><img src="/images/arror.gif" width="7" height="11" border="0" alt=""></span>&nbsp;修改元器件信息&nbsp;
        </div>
    </div>
    <div id="tips">
    </div>
    <div id="mainContainer">
        <!-- 从session中获取学生集合 -->
        <strong>修改元器件信息</strong>
        <br>
        <br>

        <form name="modifyForm" action="/components/modify" method="post">
            <table width="400" >
                <tr>
                    <td width="30%">元器件ID：</td>
                    <td><input type="text" name="componentId" value="$!{componentMod.componentId}"  readonly="readonly"/></td>
                </tr>
                <tr>
                    <td width="50%">元件名(name))：</td>
                    <td><input type="text" name="name" value="$!{componentMod.name}"/></td>
                </tr>
                <tr>
                    <td width="50%">元件名Code：</td>
                    <td><input type="text" name="componentCode" value="$!{componentMod.componentCode}"/></td>
                </tr>
                <tr>
                    <td width="30%">封装(footprint)：</td>
                    <td><input type="text" name="footprint" value="$!{componentMod.footprint}"/></td>
                </tr>
                <tr>
                    <td width="50%">封装Code：</td>
                    <td><input type="text" name="footprintCode" value="$!{componentMod.footprintCode}"/></td>
                </tr>
                <tr>
                    <td width="30%">元件值(value)：</td>
                    <td><input type="text" name="value" value="$!{componentMod.value}"/></td>
                </tr>
                <tr>
                    <td width="30%">库存(quantity)：</td>
                    <td><input type="text" name="quantity" value="$!{componentMod.quantity}"/></td>
                </tr>
                <tr>
                    <td width="30%">备注：</td>
                    <td><input type="text" name="remark" value="$!{componentMod.remark}"/></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input class="button" type="submit" value="修改"></td>
                </tr>
            </table>
        </form>


    </div>
</div>
</body>
</html>